In [1]:
#OOPS
class Professor:
    def __init__(self, name, gender, subject):  #instance variables
        self.name = name
        self.gender = gender
        self.subject = subject

    def display(self):
        print("Name:", self.name, "Gender:", self.gender, "Subject:", self.subject)

    def sub(self):
        print(self.name, "belongs to", self.subject)


prof = Professor("Dineshkumar", "Male", "Computer Science")
prof.display()
prof.sub()

Name: Dineshkumar Gender: Male Subject: Computer Science
Dineshkumar belongs to Computer Science

In [2]:
class Student:
    col_name = "Anna University"  #class variables

    def __init__(self, name, age):
        self.name = name
        self.age = age


stu1 = Student("Lokesh", 21)
print("Student:", stu1.name, stu1.age)  #inst var
print("CollegeName:", stu1.col_name)  #class var

stu1.name = "Prakash"
stu1.age = 20
stu1.col_name = "SRM"
print(stu1.name, stu1.age, stu1.col_name)

Student: Lokesh 21
CollegeName: Anna University
Prakash 20 SRM

In [3]:
class Student:
    school_name = "SBOA"

    def __init__(self, name, age):
        self.name = name
        self.age = age

    def show(self):  #instance method
        print("Student", self.name, self.age, self.school_name)

    def change_age(self, new_age):
        self.age = new_age

    @classmethod
    def change_school_name(cls, new_name):
        cls.school_name = new_name


stu = Student("Priya", 15)
stu.show()
stu.change_age(17)  #object property change
Student.change_school_name("Vellamal")
stu.show()
#del stu.age --- deleting object property
#print(stu.age)
#del stu -- object deletion

Student Priya 15 SBOA
Student Priya 17 Vellamal

In [4]:
#Constructors
class Fita:
    def __init__(self, name):  #parameterized contructor
        print("This is constructor")
        self.name = name

    def show(self):
        print("My namme is:", self.name)


s1 = Fita("Dinesh")
s1.show()

This is constructor
My namme is: Dinesh

In [5]:
class Fita:
    def fun(self):  #default constructor
        print("Inside constructor")


F1 = Fita()
F1.fun()

Inside constructor

In [6]:
class Fita:
    def __init__(self):  #Non-parameterizxed constructor
        self.name = "Python"
        self.day = "Saturday"

    def show(self):
        print("Course Name", self.name, "Batch:", self.day)


F2 = Fita()
F2.show()

Course Name Python Batch: Saturday

In [7]:
class Fita:
    def __init__(self, cour_name="Python", day="Saturday"):  #Contructor witj default values
        self.cour_name = cour_name
        self.day = day

    def show(self):
        print("Course Name", self.cour_name, "Batch:", self.day)

    def __del__(self):  #destructor
        print("object deleted")


F2 = Fita()
F2.show()
#del F2
#F2.show()

Course Name Python Batch: Saturday

In [8]:
#18 Dec - Pratice
#1. Write a Python program to check whether the list is empty or not.
x = []
if not x:
    print("this is empty")

this is empty

In [9]:
#'''2. Write a Python program to access the index of all the elements in a list.
#        Data:
#            x = [5, 15, 35, 8, 98]
#        Expected Output:
#            0 5
#            1 15
#            2 35
#            3 8
#           4 98 '''
x = [5, 15, 35, 8, 98]
for i in range(len(x)):
    print(i, x[i])

0 5
1 15
2 35
3 8
4 98

In [10]:
''' 1. Write a Python program to count the number of strings where the string length is 2 or more and
            the first and last characters of a string are same from the given data.
        Data:
            ['abc', 'xyz', 'aba', '1221']
        Expected Output:
            2 '''


def count(x):
    c = 0
    for i in x:
        if len(i) > 1 and i[0] == i[-1]:
            c += 1
    return c


print(count(['abc', 'xyz', 'aba', '1221']))

2

In [11]:
''' 15. Write a Python program to print reverse strings of strings that are present in the given list. 
    Data:
        ['suresk', 'kumar', 'siva', 'boss', 'bala']
    Expected Output:
        Reverse strings of the said given list:
        ['kserus', 'ramuk', 'avis', 'ssob', 'alab'] '''

x = ['suresk', 'kumar', 'siva', 'boss', 'bala']
ref = [i[::-1] for i in x]
print(str(ref))

ref[0] = 'alab'
ref[-1] = 'kserus'
print(ref)

['kserus', 'ramuk', 'avis', 'ssob', 'alab']
['alab', 'ramuk', 'avis', 'ssob', 'kserus']

24 Dec

In [12]:
'''Single, Multiple, Multilevel,Hierarchical,Hybrid'''

'Single, Multiple, Multilevel,Hierarchical,Hybrid'

In [13]:
#Single Inheritance
class Cricket: #parent class
    def Batting(self):
        print("This is Crickket Batting")

class Kohli(Cricket):
    def Bat(self):
        print("This is Kohli Batting")

Ko = Kohli()
Ko.Bat()
Ko.Batting()

This is Kohli Batting
This is Crickket Batting

In [14]:
#Multiple inheritance
class Cricket: #parent class
    def Batting(self,name, age):
        print("This is Crickket Batting")
        print('Name:',name,"Age:",age)

class Ipl:
    def Auction(self,team_name,price):
        print("Auction for 2023")
        print("Team:",team_name,"Price:",price)

class Teams(Cricket, Ipl):
    def Playoff(self,bat,bowl):
        print("This is Playoffs")
        print("Batter:",bat,"Bowler:",bowl)

T = Teams()
T.Playoff('Yes','No')
T.Auction('RCB','20cr')
T.Batting('Kohli','33')

This is Playoffs
Batter: Yes Bowler: No
Auction for 2023
Team: RCB Price: 20cr
This is Crickket Batting
Name: Kohli Age: 33

In [15]:
#Multilevel A -- B -- C
class Cricket: #parent class
    def Batting(self,name, age):
        print("This is Crickket Batting")
        print('Name:',name,"Age:",age)

class Ipl(Cricket):
    def Auction(self,team_name,price):
        print("Auction for 2023")
        print("Team:",team_name,"Price:",price)

class Teams(Ipl):
    def Playoff(self,bat,bowl):
        print("This is Playoffs")
        print("Batter:",bat,"Bowler:",bowl)

T = Teams()
T.Playoff('Yes','No')
T.Auction('RCB','20cr')
T.Batting('Kohli','33')

I = Ipl()
I.Batting('SamCurren','24')
I.Auction('Punjab','18.5Cr')

This is Playoffs
Batter: Yes Bowler: No
Auction for 2023
Team: RCB Price: 20cr
This is Crickket Batting
Name: Kohli Age: 33
This is Crickket Batting
Name: SamCurren Age: 24
Auction for 2023
Team: Punjab Price: 18.5Cr

In [16]:
#Hierarchical 
class Cricket: #parent class
    def Batting(self,name, age):
        print("This is Crickket Batting")
        print('Name:',name,"Age:",age)

class Ipl(Cricket):
    def Auction(self,team_name,price):
        print("Auction for 2023")
        print("Team:",team_name,"Price:",price)

class Bbl(Cricket):
    def Aust(self,t_name,role):
        print("Australian league")
        print("Team Name:",t_name,"Role:",role)

class Psl(Cricket):
    def Pak(self,t_name,role):
        print("Pakistan league")
        print("Team Name:",t_name,"Role:",role)

India = Ipl()
India.Auction('Mumbai Indians','15Cr')
India.Batting('Green',22)

Australia = Bbl()
Australia.Aust("Sydney thunders","Bowler")
Australia.Batting("Pollard",36)

Pakistan = Psl()
Pakistan.Pak("Karachi king","Batsman")
Pakistan.Batting("Babar Azam",28)

Auction for 2023
Team: Mumbai Indians Price: 15Cr
This is Crickket Batting
Name: Green Age: 22
Australian league
Team Name: Sydney thunders Role: Bowler
This is Crickket Batting
Name: Pollard Age: 36
Pakistan league
Team Name: Karachi king Role: Batsman
This is Crickket Batting
Name: Babar Azam Age: 28

Dec 25

In [17]:
#polymorphism - multiple form
a = [4,56,4,124,5.6]
print(len(a))
b = "Python class"
print(len(b))

5
12

In [18]:
class Bike:
    def color(self):
        print("Bike color is Black")
    def speed(self):
        print("Maximum speed is 180km")

class Car(Bike):
    def color(self):
        print("Car color is Red")
    def speed(self):
        print("Maximum speed is 200km")

C = Car()
C.color()
C.speed()
B = Bike()
B.color()
B.speed()

Car color is Red
Maximum speed is 200km
Bike color is Black
Maximum speed is 180km

In [19]:
#Encapsulation - public, private, protected

class Student:
    def __init__(self,name,marks): #public data members
        self.name = name
        self.marks=marks
    def rep(self):
        print("Name:",self.name,"Marks is:",self.marks)

stu = Student("Lokesj", 439)
print("Name:",stu.name,"Marks is:",stu.marks)
stu.rep()

Name: Lokesj Marks is: 439
Name: Lokesj Marks is: 439

In [20]:
class Employee:
    def __init__(self,name,salary):
        self.name=name
        self.__salary=salary #private data member
emp = Employee("Dinesh",90000)
print("Name is:",emp.name)
#print("salary is",emp.salary)

Name is: Dinesh

In [21]:
class Employee:
    def __init__(self):
        self._salary = "12233" #protected

class Company(Employee):
    def __init__(self,name):
        self.name=name
        Employee.__init__(self)
    def fun(self):
        print("Emp Name:",self.name)
        print("Salary is",self._salary)

C = Company("Ganesh")
C.fun()

print("Salary",C._salary)

Emp Name: Ganesh
Salary is 12233
Salary 12233

In [22]:
#Regular Expressions(RE) - re
import re
fita = "This is TNagar and phone is 334241341"
res = re.findall(r"\D",fita)
print(res)

['T', 'h', 'i', 's', ' ', 'i', 's', ' ', 'T', 'N', 'a', 'g', 'a', 'r', ' ', 'a', 'n', 'd', ' ', 'p', 'h', 'o', 'n', 'e', ' ', 'i', 's', ' ']

In [23]:
import re
fita = "This is TNagar and phone is 334241341"
com = r"\w"
pattern = re.compile(com)
res = pattern.match(fita)
print(res.group())
res = re.search(r"\d",fita)
print(res)
res = re.findall(r"\d",fita)
print(res)
res = re.split(r"\s",fita)
print(res)
res = re.sub(r"\s","*",fita)
print(res)

T
<re.Match object; span=(28, 29), match='3'>
['3', '3', '4', '2', '4', '1', '3', '4', '1']
['This', 'is', 'TNagar', 'and', 'phone', 'is', '334241341']
This*is*TNagar*and*phone*is*334241341

In [24]:
import re
str1 = "Dinesh is Data Science Owner \n also he is the trainer"
print(str1)
ans = re.search(r".+",str1,re.S)
print(ans.group())

Dinesh is Data Science Owner
 also he is the trainer
Dinesh is Data Science Owner
 also he is the trainer

In [25]:
import re
s1 = "Data Science is the course and duration is 120 days"
ans = re.findall(r"\A[A-Z].*?\s",s1)
print("Matching values are",ans)
ans = re.findall(r"\d.*?\Z",s1)
print("Matching values are",ans)

Matching values are ['Data ']
Matching values are ['120 days']

In [26]:
import re
rate = "10000 dollars"
res = re.findall(r"\d",rate)
print(res)
res = re.findall(r"\d+",rate)
print(res)
res = re.findall(r"\D",rate)
print(res)

['1', '0', '0', '0', '0']
['10000']
[' ', 'd', 'o', 'l', 'l', 'a', 'r', 's']

In [27]:
import re
string  = "Alas! This is **Python class**"
ans = re.findall(r"\w",string)
print(ans)
ans = re.findall(r"\w{5}",string)
print(ans)
ans = re.findall(r"\W",string)
print(ans)

['A', 'l', 'a', 's', 'T', 'h', 'i', 's', 'i', 's', 'P', 'y', 't', 'h', 'o', 'n', 'c', 'l', 'a', 's', 's']
['Pytho', 'class']
['!', ' ', ' ', ' ', '*', '*', ' ', '*', '*']

In [28]:
import re
string = "Dinesh \t \n Kumar"
print(string)
ans = re.findall(r"\s",string)
print(ans)
ans = re.findall(r"\S",string)
print(ans)
ans = re.findall(r"\s+",string)
print(ans)
ans = re.sub(r"\s+"," ","Dinesh  and \t Kumar ")
print(ans)

Dinesh
 Kumar
[' ', '\t', ' ', '\n', ' ']
['D', 'i', 'n', 'e', 's', 'h', 'K', 'u', 'm', 'a', 'r']
[' \t \n ']
Dinesh and Kumar

In [29]:
import re
text = '<p>Contents :</p><a href="https://w3resource.com">Python Examples</a><a href="http://github.com">Even More Examples</a>'
urls = re.findall('http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+', text)
print("Original string: ",text)
print("Urls: ",urls)

Original string:  <p>Contents :</p><a href="https://w3resource.com">Python Examples</a><a href="http://github.com">Even More Examples</a>
Urls:  ['https://w3resource.com', 'http://github.com']

In [30]:
import re
text = "PHP Exercises"
print("Original Text: ",text)
redata = re.compile(re.escape('php'), re.IGNORECASE)
new_text = redata.sub('php', 'PHP Exercises')
print("Using 'php' replace PHP") 
print("New Text: ",new_text)

Original Text:  PHP Exercises
Using 'php' replace PHP
New Text:  php Exercises

In [32]:
#File Handling
f = open("skill.txt","x")
f.close()

In [33]:
f = open("skill.txt","r")
print(f.read(10))
f.close()

This is fi

In [34]:
f = open("data.txt","a")
f.write("\nThis is for append function")
f.close()

In [35]:
f = open("skill.txt","r")
f.seek(0)
print(f.readline())
f.close()

This is file for testing the file handling program.

In [36]:
f = open("skill.txt","r")
f.seek(0)
print(f.readlines())
f.close()

['This is file for testing the file handling program.\n', 'This is for append function\n', 'This is for append function\n', 'This is for append function']

In [37]:
f = open("data.txt","w")
string = "FITA Academy in TNagar"
loc=["Chennai\n","Kochin\n","delhi"]
f.write(string)
f.writelines(loc)
f.close()

In [38]:
f = open("data.txt","w+")
print(f.read())
f.close()