# Venkatesh-WKED

In [1]:
a = 5
b = 9
#Arithmetic operators
add = a + b
sub = a - b
mul = a * b
div = b / a
mod = b % a
p = a ** b
print(add)
print(sub)
print(mul)
print(div)
print(mod)
print(p)

14
-4
45
1.8
4
1953125

In [2]:
#Comparison operators
print(a<b)
print(a<=b)
print(a>b)
print(a>=b)
print(a!=b)
print(a==b)

True
True
False
False
True
False

In [3]:
#Logical operators
print(a and b)
print(a or b)
print(not a)

9
5
False

In [4]:
#bitwise operators
a = 10
b = 4
print(a & b)
print(a | b)
print(~a)
print(a ^ b)
print(a >> 1)
print(a << 4)

0
14
-11
14
5
160

In [5]:
a = 10
b = a
a+=a
print(a)# a = a+a
b-=a
print(b)#b = b -a 
b*=a
print(b)
b<<=a
print(b)

20
-10
-200
-209715200

In [6]:
#identity operators
a = 5
b = 2
c = a
print(a is not b)
print(a is c)

True
True

In [7]:
#Membership operators
x = 3
y = 5
li = [1,3,6,8,2]
if(x in li):
    print(x)
if(y in li):
    print("y is not present")

3

In [8]:
#operator precedence
a = 10 + 20 * 30
print(a)

name = "Dinesh"
age = 29

if name == "Dinesh" or name == "Kumar" and age >= 20:
    print("Hello Dinesh")
else:
    print("Bye")

610
Hello Dinesh

In [9]:
#operator overloading
print(1+2)
print("Dinesh"+"Kumar")
print("python"*3)

3
DineshKumar
pythonpythonpython

DATA TYPES

In [10]:
#Strings

x = "My class is Python"
y = 'Python Class'
z = '''My class in weekend'''
print(x, y,)

My class is Python Python Class

In [11]:
#access the string
print(x[5])
print(y[0])
print(z[-3])

a
P
e

In [12]:
#reversing the string
print(x[::-1])
q = "".join(reversed(x))
print(q)

nohtyP si ssalc yM
nohtyP si ssalc yM

In [13]:
#Slicing
print(x[0:8])
print(y[3:-2])

My class
hon Cla

In [14]:
x = "Dinesh is Python lead"
print(x)

li1 = list(x)
li1[6:10] = "Kumar"
a = ''.join(li1)
print(a)

Dinesh is Python lead
DineshKumarPython lead

In [15]:
x = a[0:4]+a[8:]
print(x)
del x

DinemarPython lead

In [16]:
#List
list1 = [1,4,5]
list2 = list((4.5,8.9,2.4))
list3 = [6,"Avatar",190.5] #Heterogeneous
print(list1)
print(list2)
print(list3)
print(type(list1))
print(len(list3))

[1, 4, 5]
[4.5, 8.9, 2.4]
[6, 'Avatar', 190.5]
<class 'list'>
3

In [17]:
my_list = ["python","sunday",9,"TNagar",12.3]
print(my_list[0],my_list[2]) #index access
print(my_list[3])
print(my_list[-2])

python 9
TNagar
TNagar

In [18]:
print(my_list[0::])
print(my_list[2:])
print(my_list[1:3])
print(my_list[::2]) #skip
print(my_list[-1:])
print(my_list[::-2]) #reverse slicing

['python', 'sunday', 9, 'TNagar', 12.3]
[9, 'TNagar', 12.3]
['sunday', 9]
['python', 9, 12.3]
[12.3]
[12.3, 9, 'python']

In [19]:
#List - Iteration
for x in my_list:
    print(x)

for i in range(0, len(my_list)):
    print(my_list[i])

python
sunday
9
TNagar
12.3
python
sunday
9
TNagar
12.3

In [20]:
#List - Adding, Update, Delete

#append
my_list.append("Level 1") #last location
print(my_list)
#insert
my_list.insert(2,40) #prefered index location
print(my_list)
my_list.insert(3,["Venkat",25,7.5]) #creating nested list
print(my_list)
#extend
my_list.extend(["Course","Fita",1]) #exteend used to add multiple items at the last of the list
print(my_list)

['python', 'sunday', 9, 'TNagar', 12.3, 'Level 1']
['python', 'sunday', 40, 9, 'TNagar', 12.3, 'Level 1']
['python', 'sunday', 40, ['Venkat', 25, 7.5], 9, 'TNagar', 12.3, 'Level 1']
['python', 'sunday', 40, ['Venkat', 25, 7.5], 9, 'TNagar', 12.3, 'Level 1', 'Course', 'Fita', 1]

In [21]:
#Modifying the list
my_list[10] = "Weekend"
print(my_list)
my_list[4:6] = ["9AM","PondyBazzar",15]
print(my_list)
my_list[3][2] = 100
print(my_list)

['python', 'sunday', 40, ['Venkat', 25, 7.5], 9, 'TNagar', 12.3, 'Level 1', 'Course', 'Fita', 'Weekend']
['python', 'sunday', 40, ['Venkat', 25, 7.5], '9AM', 'PondyBazzar', 15, 12.3, 'Level 1', 'Course', 'Fita', 'Weekend']
['python', 'sunday', 40, ['Venkat', 25, 100], '9AM', 'PondyBazzar', 15, 12.3, 'Level 1', 'Course', 'Fita', 'Weekend']

In [22]:
my_list = ['python', 'sunday', 40, ['Venkat', 25, 100], '9AM', 'PondyBazzar', 15, 12.3, 'Level 1', 'Course', 'Fita', 'Weekend']
#Deleting in the list
my_list.remove(12.3) #deleting with data element
print(my_list)
my_list.pop(6) #deleting with index
print(my_list)
del my_list[7:10] #deleting reange of items
print(my_list)
my_list.clear() #clearing all the items in the list
print(my_list)
#del my_list #deleting the list itself
#print(my_list)

['python', 'sunday', 40, ['Venkat', 25, 100], '9AM', 'PondyBazzar', 15, 'Level 1', 'Course', 'Fita', 'Weekend']
['python', 'sunday', 40, ['Venkat', 25, 100], '9AM', 'PondyBazzar', 'Level 1', 'Course', 'Fita', 'Weekend']
['python', 'sunday', 40, ['Venkat', 25, 100], '9AM', 'PondyBazzar', 'Level 1']
[]

In [23]:
my_list2 = list2 + list1 #concatenation
print(my_list2)
my_list3 = []
my_list3.extend(list3)
print(my_list3)

[4.5, 8.9, 2.4, 1, 4, 5]
[6, 'Avatar', 190.5]

In [24]:
my_list4 = my_list2 #using assignment
print(my_list4)
my_list5 = my_list2 + my_list3
my_list6 = my_list5.copy() #copy the list using function
print(my_list6)

[4.5, 8.9, 2.4, 1, 4, 5]
[4.5, 8.9, 2.4, 1, 4, 5, 6, 'Avatar', 190.5]

In [25]:
my_list4.sort() #sorting
print(my_list4)
my_list7 = ["apple","orange","banana","fig"] #sorting with string items
my_list7.sort()
print(my_list7)
my_list7.reverse() #reversing the list
print(my_list7)
print(max(my_list4)) #maximum of list items
print(max(my_list7))
print(sum(my_list4))

[1, 2.4, 4, 4.5, 5, 8.9]
['apple', 'banana', 'fig', 'orange']
['orange', 'fig', 'banana', 'apple']
8.9
orange
25.799999999999997

In [26]:
#24 Dec
my_tup1 = (2,6,7)
my_tup2 = tuple(("Saturday",76,34.5))
print(my_tup1,my_tup2)
print(type(my_tup1))
print(type(my_tup2))

(2, 6, 7) ('Saturday', 76, 34.5)
<class 'tuple'>
<class 'tuple'>

In [27]:
my_tup3 = ('Python')
print(my_tup3)
print(type(my_tup3))
my_tup4 = ('Weekend',)
print(my_tup4)
print(type(my_tup4))

Python
<class 'str'>
('Weekend',)
<class 'tuple'>

In [28]:
print(len(my_tup1))
print(len(my_tup2))
print(len(my_tup4))

3
3
1

In [29]:
for x in my_tup1:
    print(x)

2
6
7

In [30]:
print(my_tup1[1])
print(my_tup2[-2])
print(my_tup1[1:2])

6
76
(6,)

In [31]:
sam_list = list(my_tup1)
sam_list.append(17)
sam_list.insert(4,"ronaldo")

my_tup1 = tuple(sam_list)
print(my_tup1)

(2, 6, 7, 17, 'ronaldo')

In [32]:
my_tup5 = (10,20,[35,63,73])
print(type(my_tup5))
my_tup5[2][0] = 34.5 #changing the list item in the tuple
print(my_tup5)

<class 'tuple'>
(10, 20, [34.5, 63, 73])

In [33]:
del my_tup4

In [34]:
my_set1 = {'Kohli',18,"Ashwin",99} #{} for set
print(my_set1)
print(type(my_set1))
my_set2 = set((4,'Sachin',4,8))
print(my_set2)

{99, 18, 'Ashwin', 'Kohli'}
<class 'set'>
{'Sachin', 8, 4}

In [35]:
my_set1.add('Pollard')
print(my_set1)
my_set2.update(['Bravo','Dravid','Shewag']) #only adding new data elements not able to modify the existing element
print(my_set2)

{99, 'Pollard', 18, 'Ashwin', 'Kohli'}
{4, 'Shewag', 'Dravid', 8, 'Bravo', 'Sachin'}

In [36]:
my_set1.remove(99)
my_set1.discard(23) #no error will come if data element is not in the set
print(my_set1)

{'Pollard', 18, 'Ashwin', 'Kohli'}

In [37]:
my_set1.pop() #randomly delete the data elements in the set
my_set2.clear()
print(my_set1)
print(my_set2)
del my_set2

{18, 'Ashwin', 'Kohli'}
set()

In [38]:
my_dict1 = {"1":10,"2":7,"3":6}
print(my_dict1)
print(type(my_dict1))
my_dict2 = dict({"name":"Dinesh","company":"HCL"})
print(my_dict2)

{'1': 10, '2': 7, '3': 6}
<class 'dict'>
{'name': 'Dinesh', 'company': 'HCL'}

In [39]:
my_dict1["class"] = "python"
print(my_dict1)
my_dict2.update({"5":20})
print(my_dict2)
my_dict2.pop('5')
print(my_dict2)

{'1': 10, '2': 7, '3': 6, 'class': 'python'}
{'name': 'Dinesh', 'company': 'HCL', '5': 20}
{'name': 'Dinesh', 'company': 'HCL'}

In [40]:
#Control Flow
#if , if else, if elif  - conditional statements
#for, while - Iterative
#break, continue, pass - Transfer

In [41]:
num  = 12
if num == 10:
    print("it is 10")
else:
    print("It is not 10")

It is not 10

In [42]:
def fita(course):
    if course == 1:
        print("python")
    elif course == 2:
        print("Java")
    elif course == 3:
        print("C++")
    elif course == 4:
        print("C")

fita(2)

Java

In [43]:
#for
for i in range(20,1,-1):
    print(i)

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2

In [44]:
#while
a = 1
while(a < 5):
    a = a+1
    print(a)

2
3
4
5

In [45]:
for n in range(15):
    if n > 10:
        print("This is greater 10")
        pass
    print(n)

0
1
2
3
4
5
6
7
8
9
10
This is greater 10
11
This is greater 10
12
This is greater 10
13
This is greater 10
14

In [46]:
for a in range(10):
    pass

In [47]:
for i in range(1,11):
    for j in range(1,11):
        print(i*j,end=' ')
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [48]:
x = 6
for i in range(x):
    for j in range(i):
        print(i, end= ' ')
    print('')

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [49]:
x = 5
for i in range(1,x+1):
    for j in range(1,i+1):
        print(j, end= ' ')
    print('')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [50]:
x = 5
y = 0
for i in range(x,0,-1):
    y += 1
    for j in range(1,i+1):
        print('*', end=' ')
    print('')

* * * * *
* * * *
* * *
* *
*

In [51]:
# Funtions - 1.Built-in 2.User defined
def Fita(): #default
    print("Welcome to Fita  Academy")

Fita()

Welcome to Fita  Academy

In [52]:
def Course(name,cour): #parameterized functions
    print("Student name is",name)
    print("Course name is",cour)

Course("Lokesh","Data Science")

Student name is Lokesh
Course name is Data Science

In [53]:
def Add(a,b):
    add = a+b
    return add

res = Add(15,3)
print("Sum is",res)

Sum is 18

In [54]:
from random import randint #function from module

print(randint(10,50))

33

In [55]:
def Even(even_list):
    even_num = []
    for n in even_list:
        if n%2 == 0:
            even_num.append(n) #appending the even nummbers in the return
    return even_num

eve = Even([4,6,3,8,7,9,10,24])
print("Even numbers are",eve)

Even numbers are [4, 6, 8, 10, 24]

In [56]:
#lambda function
li = [4,6,3,8,7,9,10,24]
even = list(filter(lambda x: x%2 == 0,li)) #filter used to return the values using on the conditions
print("Even numbers are",even)

Even numbers are [4, 6, 8, 10, 24]